<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/categorize-movies.css">
    <title>Categorize Movies</title>
</head>
<body>
    <header>
        <nav>
            <ul id="navList">
                <li><a href="../index.html">Home</a></li>
                <li><a href="increase-salaries.html" class="active">Increase Salaries</a></li>
                <li><a href="categorized-movies.html">Categorize Movies</a></li>
                <li><a href="recent-shows.html">Recent Shows</a></li>
                <li><a href="update-awards.html">Update Awards</a></li>
                <li><a href="raw-tuples.html">See Raw Data</a></li>
                <li><a href="add-tuples.html">Add Tuples</a></li>
                <li><a href="graph-movies.html">Movie Revenue</a></li>
                <li><a href="graph-tickets.html">Rating vs Tickets</a></li>
            </ul>
        </nav>
    </header> 
    
    <main>
        <div class="main">
            <h1>Categorize Movies by Rating</h1>
            <p>Get a list of the movies categorized by their rating, and sorted from best to worst.</p>
            <form id="categorizeMoviesForm">
                <label for="numResults">Maximum Number of Results to Display:</label>
                <input type="number" id="numResults" required>
        
                <button type="button" onclick="categorizeMovies()">Categorize Movies</button>
            </form>
        </div>
    
        <div id="movieContainer"></div>
    </main>

    <script src="../js/categorize-movies.js"></script>
    <script src="../js/navigation.js"></script>
</body>
</html>
