<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/update-awards.css">
    <title>Update Awards</title>
</head>
<body>
    <header>
        <nav>
            <ul id="navList">
                <li><a href="../index.html">Home</a></li>
                <li><a href="increase-salaries.html" class="active">Increase Salaries</a></li>
                <li><a href="categorized-movies.html">Categorize Movies</a></li>
                <li><a href="recent-shows.html">Recent Shows</a></li>
                <li><a href="update-awards.html">Update Awards</a></li>
                <li><a href="raw-tuples.html">See Raw Data</a></li>
                <li><a href="add-tuples.html">Add Tuples</a></li>
                <li><a href="graph-movies.html">Movie Revenue</a></li>
                <li><a href="graph-tickets.html">Rating vs Tickets</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="main">
            <h1>Update Movie Awards Based on Ticket Sales</h1>
            <form id="updateAwardsForm">
                <label for="threshold">Minimum Total Ticket Sales Required:</label>
                <input type="number" id="threshold" required>

                <label for="awardName">Award Name:</label>
                <input type="text" id="awardName" required>

                <button type="button" onclick="updateMovieAwards()">Update Movie Awards</button>
            </form>
        </div>
        
    </main>

    <script src="../js/update-awards.js"></script>
    <script src="../js/navigation.js"></script>
</body>
</html>
